html, body {
    margin: 0;
    padding: 0;
    background-color: #151617;
    color: #E8FEF8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 10vw;
}

.gray {
    color: #434445;
    transition: color 1s ease-in;
}

.white {
    color: #E8FEF8;
    transition: color 1s ease-in;
}

.orange {
    color: #F5BB1B;
    transition: color 1s ease-in;
}

.green {
    color: #1BF5BB;
    transition: color 1s ease-in;
}

.gray:hover, .white:hover, .orange:hover, .green:hover  {
    color: #151617;
    transition: color 250ms ease-in;
}