html, body {
    margin: 0;
    padding: 0;
    background-color: dimgray;
    color: ghostwhite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}