$darkgray: #151617;
$lightgray: #434445;
$white: #E8FEF8;
$orange: #F5BB1B;
$green: #1BF5BB;

html, body {
    margin: 0;
    padding: 0;
    background-color: $darkgray;
    color: $white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 10vw;
}