$colorDarkgray:  #151617;
$colorLightgray: #434445;
$colorWhite:     #E8FEF8;
$colorOrange:    #F5BB1B;
$colorGreen:     #1BF5BB;

html, body {
    margin: 0;
    padding: 0;
    background-color: $colorDarkgray;
    color: $colorWhite;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 10vw;
}