html, body {
    margin: 0;
    padding: 0;
    background-color: #1F2022;
    color: #FCFFFE;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 10vw;
}

.gray {
    color: #2E3033;
}

.whit {
    color: #FCFFFE;
}

.orange {
    color: #F5B31B;
}

.green {
    color: #1BF5BB;
}